{% extends "base.html" %}

{% block content %}
<style>
  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn {
    background-color: #0096c7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 10px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }

  .btn-danger {
    background-color: #d9534f;
  }

  .btn:hover {
    background-color: #108eb8;
  }

  .btn-danger:hover {
    background-color: #d2221c;
  }
</style>

<div>
  <h1>Deletar Aluno</h1>
  <p>Tem certeza que deseja deletar o aluno <strong>{{ object.nome }}</strong>?</p>
  <form method="post">
    {% csrf_token %}
    <div class="buttons-container">
      <button type="submit" class="btn btn-danger">Deletar</button>
      <a href="{% url 'Aluno_update' pk=object.pk %}" class="btn">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
