{% extends "base.html" %}

{% block content %}
<style>
  form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .btn {
    background-color: #0096c7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 10px;
  }

  .btn-danger {
    background-color: #d9534f;
  }

  .btn:hover {
    background-color: #108eb8;
  }

  .btn-danger:hover {
    background-color: #d2221c;
  }
</style>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h1>Editar Aluno</h1>
  <table>
    {{ form.as_table }}
  </table>
  <div class="buttons-container">
    <button type="submit" class="btn">Salvar</button>
    <a href="{% url 'Alunos_list' %}" class="btn btn-danger">Cancelar</a>
  </div>
</form>
{% endblock %}
